$bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
$touchSize: 42px;
$cardShadow: 0 2px 3px rgba(0, 0, 0, 0.3);
$mainBackground: #FFFFFF;
$mainFontColour: #333333;
$mainThemeColour: #BCCD31;
$mainThemeFontColour: #EEEEEE;
$sidebarWidth: 225px;
$sidebarBackground: #37474F;
$sidebarFontColour: #EEEEEE;
$sidebarActionColour: rgba(255, 255, 255, 0.05);

body {
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    color: $mainFontColour;
}


.sidebar {
    position: fixed;
    left: 0px;
    float: left;
    background: #BCCD31;
    overflow-y: auto;
    overflow-x: hidden;
    width: 225px;
    height: 100%;
    z-index: 9001;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    /* padding-top: 42px; */
    will-change: width;
    transition: width 0.3s, background 0.3s;
    

    span{
        float: right;
        color: #fff;
        font-size: 30px;
        background: rgba(188, 205, 49, 0.54);
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
    }
    + .wrapper {
        width: calc(100% - #{$sidebarWidth});
        will-change: width;
        transition: width 0.3s;
    }
    
    &.side-bar-closed {
        width: $touchSize;
        + .wrapper {
            width: calc(100% - #{$touchSize});
        }
        
        .sidebar-title {
            padding: 0 16px;
            max-height: 0;
            opacity: 0;
        }
        
        ul li a {
            padding-left: 0;
        }
        
        .sidebar-toggle:before {
            transform: translate3d(-50%, -50%, 0);
        }
    }
    

    
    .sidebar-menu {

        i{
            position: relative;
            float: left;
            width: 42px;
            line-height: 42px;
            text-align: center;
        }
    }
    
    ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        
        ul {
            a {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                padding-left: 16px;
            }
            
            ul a {
                padding-left: 32px;
            }
        }
    }
    
    li {
        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            border-bottom: 1px solid $sidebarActionColour;
            box-shadow: 0 1px 1px $sidebarActionColour;
            visibility: hidden;
        }
        
        &.active {
            background: $sidebarActionColour;
            
            &:after {
                visibility: visible;
            }
            
            > a {
                background: $sidebarActionColour;
            }
            
            > ul > li > a {
                opacity: 1;
                max-height: $touchSize;
            }
        }
    }
    
    .sidebar-menu a {
        display: block;
        width: 225px;
        height: 52px;
        line-height: 52px;
        border-bottom: solid #fff6 1px;
        padding: 0 16px 0 0;
        color: $sidebarFontColour;
        transition: background 0.3s, padding 0.3s $bezier, max-height 0.3s, opacity 0.3s;
        text-decoration: none;
        will-change: padding;
        
        &:hover,
        &:focus {
            background: $sidebarActionColour;
        }
        
        &:focus {
            opacity: 1;
            outline-color: $mainThemeColour;
            max-height: $touchSize;
        }
    }
    
    
    .has-children > a:focus {
        outline: none;
    }
    
    .has-children > ul:after {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 0;
        width: $touchSize;
        height: $touchSize;
        background: $sidebarActionColour;
    }
    
    .has-children > ul:before {
        content: '';
        position: absolute;
        bottom: calc(100% + 7px);
        right: 14px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-top: 12px solid $sidebarFontColour;
        transform-origin: 50% 25% 0;
        transition: transform 0.3s;
        display: none;
    }
    
    .sidebar-menu > .has-children > ul:before {
        display: block;
    }
    
    .active > ul > .has-children > ul:before {
        display: block;
    }
    
    .has-children.active > ul:before {
        transform: rotate(180deg);
    }
}

.wrapper {
    position: absolute;
    float: left;
    right: 0;
    width: 100%;
    height: calc(100vh - #{$touchSize * 2});
}








.markdown {
    position: relative;
    padding-top: 32px;
    padding-bottom: 64px;
    
    > *:first-child {
        margin-top: 0;
    }
}


.sidebar-toggle {
    height: 50px;
    background: rgba(0, 0, 0, 0.39);
}


.social {
    clear: both;
    display: table;
    background-color: #231F20;
    height: 37%;
    width: 100%;
    padding: 40% 16% 16% 16%;

a i{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 12px;
    background-color: #3b5998;
    color: #fff;
    line-height: 28px;
    text-align: center;
    margin-left: 10px;
}
a{
    &:nth-child(1) i{
        margin-left: 0px;
    }
}
}






@media screen and (max-width: #{$sidebarWidth + 360}) {
    .sidebar {
        width: $touchSize;
        
        .sidebar-toggle {
            display: none;
        }
        
        + .wrapper {
            width: calc(100% - #{$touchSize});
        }
        
        .sidebar-menu {
            top: $touchSize / 2 * 3;
            height: calc(100vh - #{$touchSize / 2 * 3});
        }
        
        ul li a {
            padding-left: 0 !important;
        }
    }
    

    
    .markdown {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    

    
 
}